<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.healthyarts.employeedirectory"
        versionCode="10"
        version   = "1.1.0">

    <!-- versionCode is optional and Android only -->

    <name>iStretch$$</name>

    <description>
        i stretch dollars: this app makes it easy for me to know what i bought, and what i paid.  it's a numbers game.
    </description>

    <author href="http://healthyarts.com" email="lintonhale@gmail.com">
        Linton Hale
    </author>

	<gap:platform name="ios" />
	
</widget>
