<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.healthyarts.istretchdollars"
        versionCode=".1"
        version   = ".008">

    <!-- versionCode is optional and Android only -->

    <name>i Stretch $</name>

    <description>
        i track what i pay for the food items i buy regularly, and where i get the best price.  i choose.  i compare.  i stretch dollars.
    </description>

    <author href="http://healthyarts.com" email="lintonhale@gmail.com">
        Linton Hale
    </author>

	<gap:platform name="ios" />
	<icon src="icon.png" />
	
</widget>
